<div style="padding: 200px; height: 100vh; width: 100vw; background: black">
  <button nxButton="'primary" [nxPopoverTriggerFor]='tipQuestion' nxPopoverDirection="bottom"
           nxPopoverTrigger="click">Show popover</button>
  <nx-popover #tipQuestion>
    <div style="width: 400px" [innerHtml]="'A popover pointing bottom side of the target'"></div>
  </nx-popover>
</div>


